{# on extends la base pour hériter de son contenu #}
{% extends 'base.html.twig' %}

{% block title %}Quora | Accueil{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <h3>Accueil</h3>
{% endblock %}