<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Quora | Dyma-Symfony7{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<script src="{{ asset('js/index.js') }}" defer></script>
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
