<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Quora | Dyma-Symfony7{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<script src="{{ asset('js/index.js') }}" defer></script>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
